### Tuples Basic

In [1]:
language = ("C","C++","Python","JS","Php") # tuples is closed by () brackets
language

('C', 'C++', 'Python', 'JS', 'Php')

In [3]:
print(type(language))

<class 'tuple'>

In [5]:
tuples=("hello",) # "hello"
type(tuples)

tuple

In [ ]:
numbers = [2,3,5,9,44]
print(type(numbers))

### Acccessing items in tuples

In [7]:
coelho = ("Zahir","Aleph","Alchemist","Brida","Hippie")

In [9]:
coelho[3:]

('Brida', 'Hippie')

### Check if item exist in tuple

In [10]:
coelho = ("Zahir","Aleph","Alchemist","Brida","Hippie")

In [11]:
"Alchemist" in coelho

True

In [13]:
"Alchemist" not in coelho

False

In [14]:
if "Alchemist" in coelho:
    print("yes there is Alchemist in the coelho tuple")

yes there is Alchemist in the coelho tuple

### Updating tuple

In [15]:
coelho = ("Zahir","Aleph","Alchemist","Brida","Hippie")

In [16]:
coelho.append("spy")

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
coelho

('Zahir', 'Aleph', 'Alchemist', 'Brida', 'Hippie')

In [ ]:
coelho+=("spy",)

### removing the item in tuple

In [20]:
coelho.remove("Aleph")

AttributeError: 'tuple' object has no attribute 'remove'

In [21]:
coelho.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [22]:
del coelho

### Unpacking a tuple

In [23]:
numbers=(2,3,4)

In [24]:
two,three,four=numbers
print(two)
print(three)
print(four)

2
3
4

In [26]:
players=("Messi","Ronaldo","Neymar","Benzema")

In [29]:
player1,player2,player3,player4=players
print(player1)
print(player2)
print(player3)
print(player4)

Messi
Ronaldo
Neymar
Benzema

### loops in tuple

In [31]:
numbers = (1,2,5,6,88,99,44,22)

In [32]:
for i in numbers:
    print(i)

1
2
5
6
88
99
44
22

### joining tuples

In [36]:
odd=(1,2,5,)
even=(2,4,5)
numbers=odd+even
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 5, 2, 4, 5)

In [ ]:
odd(1,3,5)
print(odd*2)

### tuples methods

In [39]:
numbers = (1,22,3,55,6,33,8,9,4,55,77,88,55,220)

In [44]:
numbers.index(55)

3

In [46]:
numbers.count(55)

3

In [47]:
numbers=(10,20,30)
sum(numbers)

60

In [48]:
min(numbers)

10

In [49]:
max(numbers)

30